*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-all{
    padding: 120px 0;
}
.section-maintitle{
    text-align: center;
    font-size: 40px;
    
}
.section-line{
    width: 10%;
    height: 4px;
    margin: auto; 
    background-color: blue;
    margin-top: 5px;
    margin-bottom: 20px;
}
.section-container{
    width: 90%;
    margin: auto;
}

.section-content{
   overflow: auto;
}
.section-item{
    float: left;
    border: 2px solid grey;
    width: 30%;
    text-align: center;
    position: relative;
}
.section-div2{
    margin: 0px 5%;
}
.section-item img{
    width: 100%;
    height: 250px;
}
.section-icon{
    display: block;
    font-size: 30px;  
    margin-top: 30px;
    color: rgb(58, 58, 234);
}
.section-item-title{
    font-size: 25px;
    margin: 20px 0px;
   text-transform: capitalize; 
}
.section-item-p{
    color: rgb(105, 100, 100);   
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 25px;
}
.section-item-a{
    text-transform: capitalize;
    display: block;
    margin: 20px 0;
    color: rgb(58, 58, 234);
    text-decoration: none;
}
.section-item::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    /* background-color: rgb(16, 16, 17); */
    background-color: rgb(51,51,51); 
    opacity: 0;
    transition: 2s;
}
.section-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    /* z-index: -1; */
}
 .section-item:hover .section-item-title{
    color: #fff;
    color: brown;
} 
.section-item:hover .section-item-title{
   font-weight: bold;
} 