*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'varela round' , sans-serif;
}
.offer-maintitle{
    text-align: center;
    font-size: 40px;  
    margin-top: 50px;
}
.offer-underline{
    width: 10%;
    height: 4px;
    margin: auto; 
    background-color: blue;
    margin-top: 5px;
    margin-bottom: 60px;

}
.offer-container{
    width : 80%;
    margin: auto;
 
}
.offer-content{
    overflow:auto;

}
.offer-item{
    border: 2px solid grey;
    float: left;
    width: 30%;
    height: 200px;
    margin-bottom: 30px;
    padding: 30px 5px 30px 55px;
    position: relative;
}
.offer-div{
    margin : 0px  5%;

}

.offer-item i{
    position: absolute;
    left:15px;
    top:26px;
    color:#104dc7;
    font-size: 30px;
}

.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 17px;
}
.offer-item-p {
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-left: 17px;
    line-height: 25px;
    color: rgb(142, 140, 140);
    }


.offer-item::after{
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top:0;
        left:0;
        opacity: 0;
        background-color: rgb(51,51,51); 
        /*background-color: rgb(81, 32, 32);
         background-color: #8c6a5d; */
     }    
.offer-item:hover::after{
        opacity: 0.4;
        width: 100%;
        height: 100%;
        transition: 0.7s;
        z-index: -1;
         }    

.offer-item:hover .offer-item-title{
        /* color: #fff; */
        color: brown;
        } 
.offer-item:hover .offer-item i{
        color: white;
    }
.offer-item:hover  .offer-item-p {
    color: #104dc7;
}
    